<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=room.name%> Edit</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
    <p>Edit <%=room.name%></p>

  <form action="/budapest/<%=room.id%>?_method=PUT" method="POST">
    <ul>
      <div class = "inputs">
        <li>Image: <input type="text" name="image"/></li>
        <li>Furniture Type: <input type="text" name="furniture" placeholder="state your styles"/></li>
        <li>Date Coming: <input type="date" name="inDate"/><br/></li>
        <li>Date Leaving: <input type="date" name="outDate"/><br/></li>
      </div>
      <div class="links">
        <li><input class = "submit" type="submit" value="Update Room"/></li>
        <a href = "/budapest/<%=room.id%>"><button>Go Back</button></a>
        <a href = "/budapest"><button>Go to Main</button>
      </div>
    </ul>
  </form>

  </body>
</html>
