<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to Budapest Room Creator!</h1>
    <a href = "/budapest/new">Create Room</a>
    <ul>
    <% for(i = 0; i < rooms.length; i++) { %>
      <a href = "/budapest/<%=rooms[i].id%>"><li><%=rooms[i].name%></li>
    <%}%>
  </ul>
  </body>
</html>
