<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to Budapest Room Creator!</h1>
    <a href = "/budapest/new">Create Room</a>
  
  </body>
</html>
