<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
    <p>Create Room</p>
    <form action="/budapest" method="POST">
      <ul>
      <li>Room Name: <input type="text" name="name" /></li>
      <li>Suite: <input type="text" name="suite" /></li>
      <li>Price: <input type="number" min="50" name="price"/></li>
      <li>Furniture Type: <input type="text" name="furniture" placeholder="state your style"/></li>
      <li>When would you like to Check-in?: <input type="date" name="date"/></li>
      <li>Image: <input type="text" name="image"/></li>
      <li>Name of Guest: <input type = "text" name="author"/></li>
  <input class= "submit" type="submit" value="Create Room"/>
</form>
    <a href = "/budapest"><button>GO BACK</button></a>
  </body>
</html>
