<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Room</h1>
    <form action="/budapest" method="POST">
      <ul>
        <li>
      <li>Room Name: <input type="text" name="name" /></li>
      <li>Suite: <input type="text" name="suite" /></li>
      <li>Price: <input type="number" min="50" name="price"/></li>
      <li>Furniture Type: <input type="text" name="furniture" placeholder="state your style"/></li>
      <li>When would you like to Check-in?: <input type="date" name="date"/></li>
      <li>Image: <input type="text" name="image"/>
  <input type="submit" value="Create Room"/>
</form>
    <a href = "/budapest"><button>Go Back</button></a>
  </body>
</html>
