<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Room</h1>
    <form action="/budapest" method="POST">
    Room Name: <input type="text" name="name" /><br/>
    Suite: <input type="text" name="suite" /><br/>
    Price: <input type="number" min="50" name="price"/><br/>
    Furniture Type: <input type="text" name="furniture" placeholder="state your style"/><br/>
    When would you like to Check-in?: <input type="date" name="date"/><br/>
      <input type="submit" value="Create Room"/>
    </form>
    <a href = "/budapest"><button>Go Back</button></a>
  </body>
</html>
