/* color palette from: https://www.color-hex.com/color-palette/30757 */
body {
  background-color: #ffd8ec;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex: wrap;
}

img {
  width: 30em;
  height: auto;
  display: flex;
  margin: auto;
  border: 10px solid;
  border-top-color: #e5000c;
  border-left-color: #e5000c;
  border-right-color: #784283;
  border-bottom-color: #784283;
}

li {
  margin: 5px 0 0 -60px ;
  list-style: none;
  color: white;
  background-color: #784283;
  text-align: center;
  width: 10em;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 10px;
}

li:hover{
  color: #e5000c;
  background-color: #784283;
  border-top-color: #ddd690;
  border-left-color: #ddd690;
  border-right-color: #e5000c;
  border-bottom-color: #e5000c;
  cursor: pointer;
}

.links {
  text-decoration: none;
  margin: auto;
  width: 10em;
  text-align: center;
}

p {
  background-color: rgba(0, 120, 200, 1);
  font-family: 'Monoton', cursive;
  font-size: 5em;
  word-spacing: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0 0 20px 0;
  color: #ffa8cb;
  padding:
}

a {
  text-decoration: none;
  width: 10em;
}

button {
  border: 3px solid;
  background-color: #784283;
  border-top-color: #ddd690;
  border-left-color: #ddd690;
  border-right-color: #e5000c;
  border-bottom-color: #e5000c;
  color: #e5000c;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  width: 10em;
  margin: 0 0 0 -60px;
}

button:hover{
  color: #ffd8ec;
  border-top-color: #e5000c;
  border-left-color: #e5000c;
  border-right-color: #ddd690;
  border-bottom-color: #ddd690;
  cursor: pointer;
}
